.login{
    border-radius: 5rem;
    background-color: rgba(245, 245, 220, 0.5);
    margin: 0 auto;
    padding: 5rem;
}

.center {
    display: block;
    margin: auto;
    width: 75%;
    padding: 2rem;
}

body{
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: linear-gradient(rgba(21, 6, 231, 0.932),rgba(1, 236, 40, 0.911));
    background-repeat: no-repeat;
}

.main-site{
    text-align: center;
    width: 200px;
    height: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20rem;
}

nav li{
    display: inline;
    margin: 20px
}

nav a{
    color:rgb(12, 10, 10);
    text-decoration: none;
    font-size: 1rem;
}

.info-person{
    left: 1000px;
    position: relative;
    top: -160px;
    display: inline;
}

.main-site{
    position: relative;
    width: 200px;
    height: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    top: 20px;
    
}

.cart{
    right: -440px;
    position: relative;

    top: -160px; 
    font-size: larger;
}

.search{
    right: -350px;
    position: relative;
    height: 70px;
    top: -100px; 
    
}
.item2{
    bottom: -100px;
    position: relative;
}
.item3{
    bottom: -200px;
    position: relative;
}

/* .card-style {
    width: auto;
    height: 24rem;
    border-width: 0.3rem;
  } */
