{% extends 'base.html' %}

{% block content %}
    <div>
        <form class="center"  method="POST">
            <div class="login">
                <div class="mb-3">
                    {{ form.hidden_tag() }}
                    <label class="form-label">Username</label>
                    {{ form.username(class='form-control mb-2', placeholder='Username') }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password(class='form-control mb-2', placeholder='Password') }}
                </div>
                <div>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
        </form>
    </div>
{% endblock %}