{% extends 'base.html' %}

{% block content %}

    <form class="center"  method="POST">
        <div class="login">
            <div class="mb-3">
                {{ form.hidden_tag() }}
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                {{ form.firstname(class='form-control mb-2', placeholder='First Name') }}
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                {{ form.lastname(class='form-control mb-2', placeholder='Last Name') }}
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                {{ form.username(class='form-control mb-2', placeholder='Username') }}
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                {{ form.email(class='form-control mb-2', placeholder='Email') }}
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                {{ form.password(class='form-control mb-2', placeholder='Password') }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                {{ form.confirm_password(class='form-control mb-2', placeholder='Confirm Password') }}
            </div>
            <div>
                {{ form.submit(class='btn btn-primary') }}
            <div>
        </div>
    </form>
{% endblock %}